<table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>Go to post</th>
    </tr>
    <ng-container  *ngFor="let item of usersArray; let i = index" >
    <tr >
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
  
      <td><button (click)="viewPosts(item)"> view post</button></td>
    </tr>
    <tr class="extra-row" *ngIf="item.toggle">
        <td colspan="4">{{item.post}}</td>
    </tr>
    
</ng-container>
  </table>




<!-- 
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>Go to post</th>
    </tr>
    <ng-container  *ngFor="let item of usersArray; let i = index" >
    <tr >
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
    
    
         <td><button (click)="viewPosts($event)"> view post</button></td>
    </tr>
    <tr *ngIf="toggle === true && item.id=== userId">
        <td colspan="4">{{post}}</td>
    </tr>
    
</ng-container>
  </table> -->
  
